body {
    background-color: #eef0f2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainDiv {
    margin: 3em;
}

.secondaryDiv {
    margin-top: 5em;
    margin-bottom: 5em;
}

h1 {
    font-size: 36pt;
}

.mainButton, .teaButton {
    padding: 10px;
    background-color: #eec643;
    font-weight: bold;
    font-size: 24pt;
    color: black;
    border: black solid 1px;
    border-radius: 2px;
}

.teaButton {
    margin-top: 10pt;
    margin-bottom: 10pt;
    display: block;
    font-size: 16pt;
    
}

.teaButton:hover {
    background-color:  #0d21a1;
    color: cornsilk;
}